    #botao-cadastro {
    color:  #fff !important;
    background-color: #7400b8 !important;
    border-color: #7400b8 !important;
  }

  #botao-login {
    color: #fff !important;
    background-color: #48bfe3 !important;
    border-color: #48bfe3 !important;
  }
  
  #head1 {
    color: #7400b8 !important;
    text-align: center;
  }
  #head2 {
    color: #7400b8 !important;
    text-align: center;

  }
    #paragrafo-home {
    font-size: 20px;
  }