.banner-home {
    background-image: url("../../assets/images/candidatos-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .layer {
    background: rgb(116, 0, 184);
    background: linear-gradient(
      180deg,
      rgba(116, 0, 184, 0.8) 0%,
      rgba(139, 0, 191, 0.8) 50%,
      rgba(154, 0, 197, 0.8) 100%
    );
    width: 100%;
    height: 100%;
  }

  #botao-cadastro {
    color:  #fff !important;
    background-color: #7400b8 !important;
    border-color: #7400b8 !important;
  }

  #botao-login {
    color: #fff !important;
    background-color: #48bfe3 !important;
    border-color: #48bfe3 !important;
  }
  
  #head1 {
    color: #7400b8 !important;
    text-align: center;
  }
  #head2 {
    color: #7400b8 !important;
    text-align: center;

  }
    #paragrafo-home {
    font-size: 20px;
  }