.titulos {
  color: #8c719c;
}

.button-enviar {
  color: #48bfe3 !important;
  background-color: transparent !important;
  border-color: #48bfe3 !important;
}
.button-enviar:hover {
  color: #ffff !important;
  background-color: #48bfe3 !important;
  border-color: #48bfe3 !important;
}
